{% extends 'base.html' %}
{% block article_ditail %}


<div class="card col-10">
    {% if article.photo %}
    <img src="{{ article.photo.url }}" class="card-img-top" alt="{{ article.title }}" style="height: 250px">
    {% endif %}
    <div class="card-body">
        <h5 class="card-title">{{ article.title }}</h5>
        <p class="card-text">{{ article.short_description }}</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            Автор: <b>{{ article.author }}</b>
        </li>
        <li class="list-group-item">
            Категория: <b>{{ article.category }}</b>
        </li>
        <li class="list-group-item">
            Дата создания: <b>{{ article.created_at }}</b>
        </li>
        <li class="list-group-item">
            Кол-во просмотром: <b>{{ article.views }}</b>
        </li>
    </ul>
    <div class="card-body">
        <div class="d-flex align-items-center justify-content-between">
            {% if request.user == article.author %}
          <div class="d-flex gap-3">
            <a href="#" class="btn btn-danger">Удалить</a>
            <a href="#" class="btn btn-warning">Изменить</a>
          </div>
            {% endif %}
            {% if request.user.is_authenticated %}
          <div class="d-flex gap-3">
            <a href="#" class="btn btn-danger">Дизлайк</a>
            <a href="#" class="btn btn-success">Лайк</a>
          </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock article_ditail %}