{% extends 'base.html' %}
    {% block article_ditail %}



     <div class="card col-10">
      {% if article.photo %}
  <img src="{{ article.photo.url }}" class="card-img-top" alt="{{ article.title }}" style="height: 250px">
      {% endif %}
  <div class="card-body">
    <h5 class="card-title">{{ article.title }}</h5>
    <p class="card-text">{{ article.short_description }}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      Автор: <b>{{ article.author }}</b>
    </li>
    <li class="list-group-item">
      Категория: <b>{{ article.category }}</b>
    </li>
    <li class="list-group-item">
      Дата создания: <b>{{ article.created_at }}</b>
    </li>
    <li class="list-group-item">
      Кол-во просмотром: <b>{{ article.views }}</b>
    </li>
  </ul>
  <div class="card-body">
    <a href="" class="card-link">
      <b>Подробнее</b>
    </a>

  </div>
</div>
   {% endblock article_ditail %}